USE [UniversityDB]
GO
/****** Object:  UserDefinedFunction [dbo].[IsCourseExists]    Script Date: 2/24/2026 3:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[IsCourseExists]
(
	@CourseID INT
)
RETURNS BIT
AS
BEGIN
	
	DECLARE @Found BIT

	IF EXISTS(SELECT found=1 FROM Courses WHERE CourseID = @CourseID AND IsDeleted = 0)
		SET @Found = 1 -- Found
	ELSE
		SET @Found = 0 -- Not Found

	RETURN @Found

END
GO
/****** Object:  UserDefinedFunction [dbo].[IsStudentExists]    Script Date: 2/24/2026 3:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[IsStudentExists]
(
	@StudentID INT
)
RETURNS BIT
AS
BEGIN
	
	DECLARE @Found BIT

	IF EXISTS(
		SELECT found=1 
		FROM Students INNER JOIN
			People ON Students.PersonID = People.PersonID
		WHERE StudentID = @StudentID AND People.IsDeleted = 0
		)
		SET @Found = 1 -- Found
	ELSE
		SET @Found = 0 -- Not Found

	RETURN @Found

END
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2/24/2026 3:21:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[CourseCode] [nvarchar](20) NOT NULL,
	[Credits] [tinyint] NOT NULL,
	[MaxCapacity] [tinyint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__Courses__C92D71873E00CC10] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CourseCode] UNIQUE NONCLUSTERED 
(
	[CourseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CourseName] UNIQUE NONCLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CoursesList_View]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CoursesList_View]
AS
SELECT        CourseName, CourseCode, Credits, MaxCapacity
FROM            dbo.Courses
WHERE        (IsDeleted = 0)
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[EnrollmentDate] [datetime] NOT NULL,
	[Grade] [decimal](5, 2) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__Enrollme__7F6877FBB96ADB2B] PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[SecondName] [nvarchar](20) NOT NULL,
	[ThirdName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[NationalNumber] [nvarchar](20) NOT NULL,
	[NationalCountryID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__People__AA2FFB85C2C5A9AF] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[StudentNo] [nvarchar](50) NULL,
	[StudentMajor] [nvarchar](100) NOT NULL,
	[StudyYear] [tinyint] NOT NULL,
	[StudySemester] [tinyint] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Students__32C52A79E995EB5A] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EnrollmentsList_View]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EnrollmentsList_View]
AS
SELECT        dbo.Enrollments.EnrollmentID, dbo.People.FirstName + ' ' + dbo.People.SecondName + ' ' + ISNULL(dbo.People.ThirdName, '') + ' ' + dbo.People.LastName AS StudentFullName, dbo.Courses.CourseName, 
                         dbo.Enrollments.EnrollmentDate, dbo.Enrollments.Grade
FROM            dbo.People INNER JOIN
                         dbo.Students ON dbo.People.PersonID = dbo.Students.PersonID INNER JOIN
                         dbo.Enrollments INNER JOIN
                         dbo.Courses ON dbo.Enrollments.CourseID = dbo.Courses.CourseID ON dbo.Students.StudentID = dbo.Enrollments.StudentID
WHERE        (dbo.Enrollments.IsDeleted = 0)
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserRoleID] [int] NOT NULL,
	[Permissions] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Users__1788CCACB99F6E4F] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UsersList_View]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UsersList_View]
AS
SELECT        dbo.Users.UserID, dbo.People.FirstName + ' ' + dbo.People.SecondName + ' ' + ISNULL(dbo.People.ThirdName, '') + ' ' + dbo.People.LastName AS FullName, dbo.People.CreatedDate, dbo.People.LastModifiedDate, 
                         dbo.People.IsDeleted, dbo.Users.Role, dbo.Users.Permissions, dbo.Users.IsActive
FROM            dbo.People INNER JOIN
                         dbo.Users ON dbo.People.PersonID = dbo.Users.PersonID
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StudentsList_View]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[StudentsList_View]
AS
SELECT        dbo.Students.StudentNo, dbo.People.FirstName + ' ' + dbo.People.SecondName + ' ' + ISNULL(dbo.People.ThirdName, '') + ' ' + dbo.People.LastName AS FullName, dbo.Students.StudentMajor, dbo.Students.StudyYear, 
                         dbo.Students.StudySemester, CASE WHEN dbo.People.Gender = 0 THEN 'Male' ELSE 'Female' END AS Gender,
                             (SELECT        CAST(DATEDIFF(YEAR, dbo.People.DateOfBirth, GETDATE()) - (CASE WHEN ((MONTH(GETDATE()) > MONTH(People.DateOfBirth)) OR
                                                         (MONTH(GETDATE()) = MONTH(People.DateOfBirth))) THEN 1 ELSE 0 END) AS TINYINT) AS Expr1) AS Age, dbo.Countries.CountryName, dbo.People.NationalNumber
FROM            dbo.Countries INNER JOIN
                         dbo.People ON dbo.Countries.CountryID = dbo.People.NationalCountryID INNER JOIN
                         dbo.Students ON dbo.People.PersonID = dbo.Students.PersonID
WHERE        (dbo.People.IsDeleted = 0)
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Users]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Countries] FOREIGN KEY([NationalCountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Countries]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRoles] FOREIGN KEY([UserRoleID])
REFERENCES [dbo].[UserRoles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRoles]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewCourse]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewCourse]
	@CourseName NVARCHAR(100),
    @CourseCode NVARCHAR(20),
    @Credits TINYINT,
    @MaxCapacity TINYINT,
	@CreatedByUserID INT,

	@RETURN_VALUE INT OUTPUT,
    @NewCourseID INT OUTPUT

AS
BEGIN

	SET NOCOUNT ON;
	BEGIN TRANSACTION
	BEGIN TRY

		IF EXISTS (SELECT found=1 FROM Courses WHERE CourseName LIKE @CourseName AND IsDeleted = 0)
		BEGIN
			ROLLBACK TRANSACTION
			SET @RETURN_VALUE = -2 -- Course Already exists
			SET @NewCourseID = -1
			RETURN
		END

		IF EXISTS (SELECT found=1 FROM Courses WHERE CourseCode LIKE @CourseCode AND IsDeleted = 0)
		BEGIN
			ROLLBACK TRANSACTION
			SET @RETURN_VALUE = -3 -- Course code already exists
			SET @NewCourseID = -1
			RETURN
		END

		DECLARE @IsDeleted BIT = 0, @CreatedDate DATETIME = GETDATE(), @ModifiedDate DATETIME = GETDATE()

		-- Insert statements for procedure here
		INSERT INTO Courses (CourseName, CourseCode, Credits, MaxCapacity, CreatedDate, ModifiedDate, CreatedByUserID, IsDeleted)
		VALUES (@CourseName, @CourseCode, @Credits, @MaxCapacity, @CreatedDate, @ModifiedDate, @CreatedByUserID, @IsDeleted);
    
		SET @NewCourseID = SCOPE_IDENTITY();

		COMMIT
		SET @RETURN_VALUE = 1 -- Success
	END TRY
	BEGIN CATCH
		ROLLBACK
		SET @RETURN_VALUE = -1 -- Unexpected error
		SET @NewCourseID = -1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewEnrollment]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewEnrollment]
	@StudentID INT,
    @CourseID INT,
	@EnrollmentDate DATETIME,
    @CreatedByUserID INT,
	@RETURN_VALUE INT OUTPUT,
    @NewEnrollmentID INT OUTPUT

AS
BEGIN


    -- Insert statements for procedure here
	SET NOCOUNT ON;

	BEGIN TRANSACTION
	BEGIN TRY
		
		IF NOT EXISTS(
			SELECT found=1 
			FROM Students INNER JOIN
				People ON Students.PersonID = People.PersonID
			WHERE Students.StudentID = @StudentID AND People.IsDeleted = 0
		)
		BEGIN
			ROLLBACK TRANSACTION
			SET @RETURN_VALUE = -2 -- Student is not found or deleted
			SET @NewEnrollmentID = -1
			RETURN
		END

		IF EXISTS (
			SELECT found=1
			FROM Enrollments
			WHERE StudentID = @StudentID AND CourseID = @CourseID
		)
		BEGIN
			ROLLBACK TRANSACTION
			SET @RETURN_VALUE = -3 -- Student already enrolled
			SET @NewEnrollmentID = -1
			RETURN
		END

		IF NOT EXISTS(
			SELECT found=1 
			FROM Courses
			WHERE Courses.CourseID = @CourseID AND Courses.IsDeleted = 0
		)
		BEGIN
			ROLLBACK TRANSACTION
			SET @RETURN_VALUE = -4 -- Course is not found or deleted
			SET @NewEnrollmentID = -1
			RETURN
		END

		IF ((SELECT COUNT(*) FROM Courses WHERE CourseID = @CourseID) > (SELECT MaxCapacity FROM Courses WHERE CourseID = @CourseID))
		BEGIN
			ROLLBACK TRANSACTION
			SET @RETURN_VALUE = -5 -- Course capacity is full
			SET @NewEnrollmentID = -1
			RETURN
		END

		DECLARE @IsDeleted BIT = 0, @TodayDate DATETIME = GETDATE()

		INSERT INTO Enrollments (StudentID, CourseID, EnrollmentDate, Grade, CreatedDate, ModifiedDate, CreatedByUserID, IsDeleted)
		VALUES (@StudentID, @CourseID, @EnrollmentDate, NULL, @TodayDate, @TodayDate, @CreatedByUserID, @IsDeleted);
    
		SET @NewEnrollmentID = SCOPE_IDENTITY();

		COMMIT
		SET @RETURN_VALUE = 1 -- Added successfully
	END TRY
	BEGIN CATCH
		ROLLBACK
		SET @RETURN_VALUE = -1 -- Unexpected error
		SET @NewEnrollmentID = -1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPerson]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewPerson]
    @FirstName NVARCHAR(20),
    @SecondName NVARCHAR(20),
    @ThirdName NVARCHAR(20),
    @LastName NVARCHAR(20),
	@Gender TINYINT,
	@PhoneNumber NVARCHAR(20),
    @Email NVARCHAR(100),
    @DateOfBirth DATETIME,
    @NationalNumber NVARCHAR(20),
	@NationalCountryID INT,
    @NewPersonID INT OUTPUT

AS
BEGIN

    SET NOCOUNT ON;
    
    -- Insert statements for procedure here
	DECLARE @IsDeleted BIT = 0, @CreatedDate DATETIME = GETDATE(), @LastModifiedDate DATETIME = GETDATE()

    INSERT INTO People (FirstName, SecondName, ThirdName, LastName, Gender, PhoneNumber, Email, DateOfBirth, 
					NationalNumber, NationalCountryID, CreatedDate, LastModifiedDate, IsDeleted)
    VALUES (@FirstName, @SecondName, @ThirdName, @LastName, @Gender, @PhoneNumber, @Email, @DateOfBirth,
					@NationalNumber, @NationalCountryID, @CreatedDate, @LastModifiedDate, @IsDeleted);
    
    SET @NewPersonID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewStudent]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewStudent]
	@FirstName NVARCHAR(20),
    @SecondName NVARCHAR(20),
    @ThirdName NVARCHAR(20),
    @LastName NVARCHAR(20),
	@Gender TINYINT,
	@PhoneNumber NVARCHAR(20),
    @Email NVARCHAR(100),
    @DateOfBirth DATETIME,
    @NationalNumber NVARCHAR(20),
	@NationalCountryID INT,
	@CreatedByUserID INT,
	@StudentMajor NVARCHAR(100),
	@StudyYear TINYINT,
	@StudySemester TINYINT,

	@RETURN_VALUE INT OUTPUT,
	@NewPersonID INT OUTPUT,
	@NewStudentID INT OUTPUT,
	@NewStudentNo NVARCHAR(50) OUTPUT

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION
	BEGIN TRY

		IF (LTRIM(RTRIM(@Email)) = '')
			SET @Email = NULL

		DECLARE @EmailExists INT
		EXEC @EmailExists = [dbo].[SP_IsEmailExists] @Email

		IF (@EmailExists > 0)
		BEGIN
			ROLLBACK TRANSACTION
			SET @RETURN_VALUE = -2 -- Email already exists.
			SET @NewStudentID = -1
			RETURN 
		END

		EXECUTE [dbo].[SP_AddNewPerson] @FirstName, @SecondName, @ThirdName, @LastName, @Gender, @PhoneNumber, @Email,
										@DateOfBirth, @NationalNumber, @NationalCountryID, @NewPersonID OUTPUT

		INSERT INTO Students (PersonID, StudentMajor, StudentNo, StudyYear, StudySemester, CreatedByUserID)
		VALUES (@NewPersonID, @StudentMajor, NULL, @StudyYear, @StudySemester, @CreatedByUserID);
		
		SET @NewStudentID = SCOPE_IDENTITY();
		SET @NewStudentNo = 'St-' + CAST(YEAR(GETDATE()) AS NVARCHAR) + '-' + RIGHT('000000' + CAST(@NewStudentID AS NVARCHAR), 6)
		
		UPDATE Students
		SET StudentNo = @NewStudentNo
		WHERE StudentID = @NewStudentID

		COMMIT
		SET @RETURN_VALUE = 1
	END TRY
	BEGIN CATCH
		ROLLBACK;
		SET @RETURN_VALUE = -1
		SET @NewStudentID = -1
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewUser]
    @PersonID INT,
    @RoleID INT,
    @Permissions INT,
    @IsActive BIT,
    @NewUserID INT OUTPUT

AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Users (PersonID, UserRoleID, Permissions, IsActive)
	VALUES (@PersonID, @RoleID, @Permissions, @IsActive);
    
    SET @NewUserID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CalculateGPA]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CalculateGPA]
	@StudentID INT,
	@GPA Decimal(5, 2) OUTPUT,
	@RETURN_VALUE INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @GradeScale DECIMAL(5,2) = 25.0

	SELECT @GPA = CAST(SUM(e.Grade * c.Credits) / NULLIF(SUM(c.Credits), 0) / @GradeScale AS DECIMAL(5,2))
	FROM Enrollments e INNER JOIN
		Courses c ON e.CourseID = c.CourseID INNER JOIN
		Students s ON e.StudentID = s.StudentID INNER JOIN
		People p ON s.PersonID = p.PersonID
	WHERE e.StudentID = @StudentID AND e.IsDeleted = 0 AND p.IsDeleted = 0 AND e.Grade IS NOT NULL

	IF @GPA IS NULL
	BEGIN
		IF NOT EXISTS ( 
			SELECT found=1 
			FROM Students s INNER JOIN
				People p ON s.PersonID = p.PersonID
			WHERE s.StudentID = @StudentID AND p.IsDeleted = 0
			)
			SET @RETURN_VALUE = -2 -- Student not found
		ELSE
			SET @RETURN_VALUE = -8 -- No graded enrollments found
		RETURN;
	END

	SET @RETURN_VALUE = 1 -- Success
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteCourse]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteCourse]
	@CourseID INT,
	@RETURN_VALUE INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	BEGIN TRANSACTION
	BEGIN TRY
		IF EXISTS (SELECT found=1 FROM Enrollments WHERE Enrollments.CourseID = @CourseID)
		BEGIN
			ROLLBACK
			SET @RETURN_VALUE = -4 -- Course has enrollments
			RETURN
		END

		UPDATE Courses
		SET IsDeleted = 1
		WHERE CourseID = @CourseID

		COMMIT
		SET @RETURN_VALUE = 1 -- Course deleted successfully
	END TRY
	BEGIN CATCH
		ROLLBACK
		SET @RETURN_VALUE = -1 -- Unexpected exception
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerson]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeletePerson]
	@PersonID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE People
	SET IsDeleted = 1
	WHERE PersonID = @PersonID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteStudent]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteStudent]
	@PersonID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	EXEC [dbo].[SP_DeletePerson] @PersonID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllCoursesList]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllCoursesList]

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM CoursesList_View
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllEnrollmentsList]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllEnrollmentsList]

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM EnrollmentsList_View
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllStudentsList]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllStudentsList]

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM StudentsList_View
	ORDER BY FullName
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsersList]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllUsersList]

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM UsersList_View
	ORDER BY UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCourseByCourseCode]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetCourseByCourseCode]
	@CourseCode NVARCHAR(20)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM CoursesList_View
	WHERE CourseCode LIKE '%' + @CourseCode + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCourseByID]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetCourseByID]
	@CourseID INT

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Courses
	WHERE CourseID = @CourseID AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEnrollmentByCourseID]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetEnrollmentByCourseID]
	@CourseID INT,
	@RETURN_VALUE INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF (dbo.IsCourseExists(@CourseID) = 0)
	BEGIN
		SET @RETURN_VALUE = -4 -- Course not found
		RETURN
	END
	
	SELECT *
	FROM Enrollments
	WHERE CourseID = @CourseID AND IsDeleted = 0

	SET @RETURN_VALUE = 1 -- Success
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEnrollmentByID]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetEnrollmentByID]
	@EnrollmentID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Enrollments
	WHERE EnrollmentID = @EnrollmentID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEnrollmentByStudentID]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetEnrollmentByStudentID]
	@StudentID INT,
	@RETURN_VALUE INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF (dbo.IsStudentExists(@StudentID) = 0)
	BEGIN
		SET @RETURN_VALUE = -2 -- Student not found
		RETURN
	END

	SELECT *
	FROM Enrollments
	WHERE StudentID = @StudentID AND IsDeleted = 0

	SET @RETURN_VALUE = 1 -- Success

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNumberOfEnrollmentsForCourse]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetNumberOfEnrollmentsForCourse]
	@CourseID INT,
	@EnrollmentCount INT OUTPUT,
	@RETURN_VALUE INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF (dbo.IsCourseExists(@CourseID) = 0)
	BEGIN
		SET @EnrollmentCount = 0
		SET @RETURN_VALUE = -4 -- Course not found
		RETURN
	END

	SELECT @EnrollmentCount = COUNT(*)
	FROM Enrollments
	WHERE CourseID = @CourseID AND IsDeleted = 0

	SET @RETURN_VALUE = 1 -- Success
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentByID]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetStudentByID]
	@StudentID INT

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM Students INNER JOIN
		People ON Students.PersonID = People.PersonID
	WHERE StudentID = @StudentID AND People.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentByStudentNo]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetStudentByStudentNo]
	@StudentNo NVARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM StudentsList_View
	WHERE StudentNo LIKE '%' + @StudentNo + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByID]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUserByID]
	@UserID INT

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM UsersList_View
	WHERE UserID = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UnDeleteCourse]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UnDeleteCourse]
	@CourseID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Courses
	SET IsDeleted = 0
	WHERE CourseID = @CourseID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UnDeletePerson]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UnDeletePerson]
	@PersonID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE People
	SET IsDeleted = 0
	WHERE PersonID = @PersonID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UnEnroll]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UnEnroll]
	@EnrollmentID INT,
	@RETURN_VALUE INT OUTPUT

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	IF NOT EXISTS (SELECT found=1 FROM Enrollments WHERE EnrollmentID = @EnrollmentID)
	BEGIN
		SET @RETURN_VALUE = -6 -- Enrollment not exists
		RETURN
	END

	IF ((SELECT Grade FROM Enrollments WHERE EnrollmentID = @EnrollmentID) IS NOT NULL)
	BEGIN
		SET @RETURN_VALUE = -9 -- Final result is already set
		RETURN
	END

	UPDATE Enrollments
	SET IsDeleted = 1
	WHERE EnrollmentID = @EnrollmentID

	SET @RETURN_VALUE = 1 -- successfully unenrolled
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCourse]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateCourse]
	@CourseID INT,
	@CourseName NVARCHAR(100),
    @CourseCode NVARCHAR(20),
    @Credits TINYINT,
    @MaxCapacity TINYINT

AS
BEGIN

	SET NOCOUNT ON;
	DECLARE @ModifiedDate DATETIME = GETDATE()
    -- Insert statements for procedure here
	UPDATE Courses
	SET CourseName = @CourseName, CourseCode = @CourseCode, Credits = @Credits,
				MaxCapacity = @MaxCapacity, ModifiedDate = @ModifiedDate
	WHERE CourseID = @CourseID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateEnrollment]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateEnrollment]
	@EnrollmentID INT,
	@EnrollmentDate DATETIME

AS
BEGIN

	SET NOCOUNT ON;
	BEGIN TRANSACTION
	BEGIN TRY
		
		-- Insert statements for procedure here
		IF NOT EXISTS (SELECT found=1 FROM Enrollments WHERE EnrollmentID = @EnrollmentID AND IsDeleted = 0)
		BEGIN
			ROLLBACK TRANSACTION
			RETURN
		END

		DECLARE @ModifiedDate DateTime = GETDATE()

		UPDATE Enrollments
		SET EnrollmentDate = @EnrollmentDate, ModifiedDate = @ModifiedDate
		WHERE EnrollmentID = @EnrollmentID;

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateGrade]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateGrade]
	@EnrollmentID INT,
	@Grade DECIMAL(5,2),
	@RETURN_VALUE INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF NOT EXISTS (SELECT found=1 FROM Enrollments WHERE EnrollmentID = @EnrollmentID)
	BEGIN
		SET @RETURN_VALUE = -6 -- Enrollment not exists
		RETURN
	END

	DECLARE @EnrollmentGrade DECIMAL(5,2)
	SELECT @EnrollmentGrade = Grade FROM Enrollments WHERE EnrollmentID = @EnrollmentID AND IsDeleted = 0

	IF (@EnrollmentGrade IS NOT NULL AND @EnrollmentGrade >= 0.00)
	BEGIN
		SET @RETURN_VALUE = -7 -- Grade is already been added
		RETURN
	END

	UPDATE Enrollments
	SET Grade = @Grade
	WHERE EnrollmentID = @EnrollmentID

	SET @RETURN_VALUE = 1 -- Success
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePeople]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdatePeople]
    @PersonID INT,
    @FirstName NVARCHAR(20),
    @SecondName NVARCHAR(20),
    @ThirdName NVARCHAR(20),
    @LastName NVARCHAR(20),
	@Gender TINYINT,
	@PhoneNumber NVARCHAR(20),
    @Email NVARCHAR(100),
    @DateOfBirth DATETIME2(3),
    @NationalNumber NVARCHAR(20),
	@NationalCountryID INT
AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @LastModifiedDate DATETIME2 = GETDATE()

	UPDATE People
    SET FirstName = @FirstName, SecondName = @SecondName, ThirdName = @ThirdName, LastName = @LastName,
		Gender = @Gender, PhoneNumber = @PhoneNumber, Email = @Email, DateOfBirth = @DateOfBirth, NationalNumber = @NationalNumber, 
		NationalCountryID = @NationalCountryID, LastModifiedDate = @LastModifiedDate
    WHERE PersonID = @PersonID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStudent]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateStudent]
	@StudentID INT,
	@StudentMajor NVARCHAR(100),
	@StudyYear TINYINT,
	@StudySemester TINYINT,
    @FirstName NVARCHAR(20),
    @SecondName NVARCHAR(20),
    @ThirdName NVARCHAR(20),
    @LastName NVARCHAR(20),
	@Gender TINYINT,
	@PhoneNumber NVARCHAR(20),
    @Email NVARCHAR(100),
    @DateOfBirth DATETIME2(3),
    @NationalNumber NVARCHAR(20),
	@NationalCountryID INT

AS
BEGIN

	SET NOCOUNT ON;
    -- Insert statements for procedure here
	BEGIN TRANSACTION
	BEGIN TRY
		DECLARE @PersonID INT = (
			SELECT People.PersonID 
			FROM Students INNER JOIN
				People ON Students.PersonID = People.PersonID
			WHERE Students.StudentID = @StudentID
			)

		EXEC [SP_UpdatePeople] @PersonID, @FirstName, @SecondName, @ThirdName, @LastName, @Gender, @PhoneNumber,
						@Email, @DateOfBirth, @NationalNumber, @NationalCountryID

		UPDATE Students
		SET StudentMajor = @StudentMajor, StudyYear = @StudyYear, StudySemester = @StudySemester
		WHERE StudentID = @StudentID

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 2/24/2026 3:21:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateUser]
    @UserID INT,
    @RoleID INT,
    @Permissions INT,
    @IsActive INT

AS
BEGIN

	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Users
	SET UserRoleID = @RoleID, Permissions = @Permissions, IsActive = @IsActive
	WHERE UserID = @UserID;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Courses"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 203
               Right = 215
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CoursesList_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CoursesList_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[43] 4[23] 2[23] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "People"
            Begin Extent = 
               Top = 163
               Left = 105
               Bottom = 293
               Right = 293
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "Students"
            Begin Extent = 
               Top = 146
               Left = 363
               Bottom = 276
               Right = 533
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Enrollments"
            Begin Extent = 
               Top = 4
               Left = 563
               Bottom = 134
               Right = 740
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "Courses"
            Begin Extent = 
               Top = 37
               Left = 809
               Bottom = 167
               Right = 986
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2490
         Alias = 1665
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EnrollmentsList_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EnrollmentsList_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[21] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Countries"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 109
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "People"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 199
               Right = 434
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Students"
            Begin Extent = 
               Top = 6
               Left = 472
               Bottom = 174
               Right = 642
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1245
         Table = 1170
         Output = 975
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1425
         GroupBy = 1350
         Filter = 1080
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'StudentsList_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'StudentsList_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "People"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 220
            End
            DisplayFlags = 280
            TopColumn = 7
         End
         Begin Table = "Users"
            Begin Extent = 
               Top = 8
               Left = 426
               Bottom = 138
               Right = 596
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1545
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UsersList_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'UsersList_View'
GO
